doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Screen Divider
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet')
  link(rel='stylesheet' href='css/style.css')
  script(src='js/complete.js')
#division
  #drag.drag
.wrapper.wrapper_night
  .container.night
    
    section
      .content
        .text_wrapper
         
        .image_wrapper
          .bg_circle
          
        img.tick_img-1(src='./images/mountain.png' alt='tick')
.wrapper.wrapper_day
  .container.day
    section
      .content
        .text_wrapper
          
        .image_wrapper
          .bg_circle-d
          
        img.tick_img-2(src='./images/daylight-environment-forest.jpg' alt='tick')